body{
    padding-top: 90px;
    padding-left: 300px;
    padding-right: 200px;
    /* width: 1600px; */
    font-family: 'Times New Roman', Times, serif;
}
.people{
    display: flex;
   
}
.people_info{
    margin-left: 30px;
    font-weight: 700;
    font-size: 24px;
    width: 600px;
}